{% extends 'base.html' %}
{% block body_inner %}
  <div class="jumbotron">
    <h1 class="display-4">Dashboard</h1>
    <p class="lead">This is your dashboard for Hamburg Invasion, have a look around :)</p>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
      <h2>Your profile</h2>
      <p>View or update your profile <a href="/app/profile/">here</a></p>
      <h2>Your invasions</h2>
      <p>These are Hamburg Invasions in your account (since 2017)</p>
      <table class="table table-striped table-bordered">
        <thead><tr><th>Name</th><th>Your participation</th><th>Who is coming?</th></tr></thead>
        <tbody>
          {% for inv in invasions %}
            <tr><td>{{ inv.name }}</td>
              <td><a href="/app/participation/">Link</a></td>
              <td><a href="/app/{{ inv.id }}/participants/">Link</a></td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}