{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body_inner %}
  <div class="jumbotron">
    <h1 class="display-4">Select your activities</h1>
    <p class="lead">There are multiple activities happening in Invasion. Please select the ones that you want to take part in.<br>
      Some activites are paid. Some activities will happen at similar time, so please make sure you select activites
      that you can attend.</p>
  </div>

  <div class="row">
      {% for act in activities %}
      <div class="col-sm-6">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">{{ act.name }}</h3>
            <h5>{{ act.location }}</h5>
            <p>Price: {% if act.price %}EUR {{act.price}}{% else %}Free!{% endif %}<br>
                <a href="{{ act.link }}" target="_blank">Check details</a></p>
            <p class="card-text">{{ act.description }}</p>
            <p>{{ act.starts_at }} - {{ act.ends_at }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>

  <div class="row">
    <div class="col-9">{% crispy form %}</div>
  </div>
{% endblock %}